@import "tailwindcss";

:root {
    --background: hsl(0 0% 99%);
    --element: hsl(0 100% 100%);
    --text: hsl(200 15% 8%);
}
.dark {
    --background: hsl(207 26% 17%);
    --element: hsl(209 23% 22%);
    --text: hsl(0 100% 100%);
}
@theme {
    --color-bg: var(--background);
    --color-el: var(--element);
    --color-text: var(--text);

    --color-text-secondary:  hsl(0 0% 50%);

    --font-nunito: "Nunito Sans", sans-serif;
}
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--background);
}
